 html {
   background-color: Gray;
   color: Black;
  margin: 1rem;
  font-family: Courier New;
  line-height: 1.5; 
   font-size: 20px;
}
p1 {color: Black;
  margin: 1rem;
  font-family: Courier New;
  line-height: 1.5; 
   font-size: 23px 
}
